<section id="menu-pane" class="menu text-center">
  {{ if not .IsNode }}
  {{ with .PrevInSection }}
  <span><a class="menu-item" href="{{ .Permalink }}">&lt; {{ i18n "prev" }} | </a></span>
  {{ end }}
  {{ if (or (.PrevInSection) (.NextInSection)) }}
  <span><a class="menu-item" href="{{ .Section | relLangURL }}">{{ .Section | lower }}</a></span>
  {{ end }}
  {{ with .NextInSection }}
  <span><a class="menu-item" href="{{ .Permalink }}"> | {{ i18n "next" }} &gt;</a></span>
  {{ end }}
  {{ end }}
  <h4 class="text-center"><a class="menu-item" href="{{ .Site.BaseURL }}">{{ i18n "home" }}</a></h4>
</section>
