<section id="social-pane" class="row text-center social">
  {{ with .Site.Params.social.twitter }}
  <a href="https://twitter.com/{{.}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.google }}
  <a href="https://plus.google.com/{{.}}/about"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
  <a href="https://facebook.com/{{.}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.github }}
  <a href="https://github.com/{{.}}"><i class="fa fa-github" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.instagram }}
  <a href="https://instagram.com/{{.}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="https://linkedin.com/in/{{.}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.stackoverflow }}
  <a href="https://stackoverflow.com/users/{{.}}"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{.}}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  {{ end }}
</section>
